<div id="<%= dom_id appointmentsdb %>">
  <p>
    <strong>First name:</strong>
    <%= appointmentsdb.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= appointmentsdb.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= appointmentsdb.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= appointmentsdb.phone %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointmentsdb.date %>
  </p>

</div>
